In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('DataC.csv')
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,0.0,0.0,0.0,0.0,121.0,...,44.0,7800.0,5.20,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7.0,50.0,1.020,4.0,0.0,0.0,0.0,0.0,0.0,113.0,...,38.0,6000.0,4.96,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,423.0,...,31.0,7500.0,3.80,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32.0,6700.0,3.90,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,106.0,...,35.0,7300.0,4.60,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [3]:
y=df['class']
x=df.drop(['class'],axis=1)

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3)

In [7]:
x_train.shape

(280, 24)

In [8]:
df=pd.concat([x_train, y_train], axis=1)
df.head(15)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
157,62.0,70.0,1.025,3.0,0.0,0.0,1.0,0.0,0.0,122.0,...,39.0,7900.0,3.90,1.0,1.0,0.0,1.0,0.0,0.0,1.0
109,54.0,70.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,233.0,...,42.8,9800.0,4.74,0.0,1.0,0.0,1.0,0.0,0.0,1.0
17,47.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,114.0,...,35.6,8460.0,4.64,1.0,0.0,0.0,0.0,0.0,0.0,1.0
347,43.0,60.0,1.025,0.0,0.0,0.0,0.0,0.0,0.0,108.0,...,43.0,7200.0,5.50,0.0,0.0,0.0,1.0,0.0,0.0,0.0
24,42.0,100.0,1.015,4.0,0.0,0.0,1.0,0.0,1.0,220.0,...,39.0,8300.0,4.60,1.0,0.0,0.0,0.0,0.0,0.0,1.0
175,60.0,50.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,261.0,...,33.4,4200.0,3.40,1.0,0.0,0.0,1.0,0.0,0.0,1.0
351,29.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,83.0,...,40.0,9900.0,4.70,0.0,0.0,0.0,1.0,0.0,0.0,0.0
332,34.0,70.0,1.025,0.0,0.0,0.0,0.0,0.0,0.0,178.0,...,44.0,10500.0,6.10,0.0,0.0,0.0,1.0,0.0,0.0,0.0
167,34.0,70.0,1.020,0.0,0.0,1.0,0.0,0.0,0.0,139.0,...,42.0,2200.0,3.18,0.0,0.0,0.0,0.0,0.0,0.0,1.0
245,48.0,100.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,103.0,...,19.0,7200.0,2.60,1.0,0.0,1.0,0.0,0.0,0.0,1.0
311,56.0,60.0,1.025,0.0,0.0,0.0,0.0,0.0,0.0,132.0,...,45.0,7500.0,5.60,0.0,0.0,0.0,1.0,0.0,0.0,0.0
145,57.0,90.0,1.015,5.0,0.0,1.0,1.0,0.0,1.0,232.8,...,24.0,4200.0,3.30,1.0,1.0,1.0,0.0,1.0,1.0,1.0
258,42.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,98.0,...,44.0,8400.0,5.50,0.0,0.0,0.0,1.0,0.0,0.0,0.0
177,65.0,80.0,1.015,2.0,1.0,0.0,0.0,1.0,0.0,215.0,...,41.0,9380.0,5.26,0.0,1.0,0.0,1.0,0.0,0.0,1.0
119,60.0,70.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,140.0,...,39.0,9460.0,4.86,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [9]:
df.to_excel(r'C:\Users\faish\Jupyter\skripsi\Data_trainingC.xlsx',index=False)