In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer

In [2]:
df=pd.read_csv('kidney.csv')
df.drop('id',axis=1,inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             330 non-null    object
 16  wc              295 non-null    object
 17  rc              270 non-null    object
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.2+ KB

In [4]:
#convert to numeric data type from object
df.pcv = pd.to_numeric(df.pcv, errors='coerce')
df.wc = pd.to_numeric(df.wc, errors='coerce')
df.rc = pd.to_numeric(df.rc, errors='coerce')

In [5]:
df.classification=df.classification.replace('ckd\t','ckd')
df.dm=df.dm.replace([' yes','\tno','\tyes'],['yes','no','yes'])
df.cad=df.cad.replace('\tno','no')

In [6]:
df.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                71
wc                106
rc                131
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [7]:
df.head(15)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,74.0,...,39.0,7800.0,4.4,yes,yes,no,good,yes,no,ckd
6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,100.0,...,36.0,NaN,NaN,no,no,no,good,no,no,ckd
7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,410.0,...,44.0,6900.0,5.0,no,yes,no,good,yes,no,ckd
8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,138.0,...,33.0,9600.0,4.0,yes,yes,no,good,no,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,29.0,12100.0,3.7,yes,yes,no,poor,no,yes,ckd
10,50.0,60.0,1.010,2.0,4.0,NaN,abnormal,present,notpresent,490.0,...,28.0,NaN,NaN,yes,yes,no,good,no,yes,ckd
11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,...,32.0,4500.0,3.8,yes,yes,no,poor,yes,no,ckd
12,68.0,70.0,1.015,3.0,1.0,NaN,normal,present,notpresent,208.0,...,28.0,12200.0,3.4,yes,yes,yes,poor,yes,no,ckd
13,68.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,98.0,...,NaN,NaN,NaN,yes,yes,yes,poor,yes,no,ckd
14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,...,16.0,11000.0,2.6,yes,yes,yes,poor,yes,no,ckd

In [8]:
modus = [df["sg"].value_counts().idxmax(),
         df["al"].value_counts().idxmax(),
         df["su"].value_counts().idxmax(),
         df["rbc"].value_counts().idxmax(),
         df["pc"].value_counts().idxmax(),
         df["pcc"].value_counts().idxmax(),
         df["ba"].value_counts().idxmax(),
         df["htn"].value_counts().idxmax(),
         df["dm"].value_counts().idxmax(),
         df["cad"].value_counts().idxmax(),
         df["appet"].value_counts().idxmax(),
         df["pe"].value_counts().idxmax(),
         df["ane"].value_counts().idxmax(),
        ]
modus

[1.02,
 0.0,
 0.0,
 'normal',
 'normal',
 'notpresent',
 'notpresent',
 'no',
 'no',
 'no',
 'good',
 'no',
 'no']

In [9]:
df["sg"]= df["sg"].fillna(df["sg"].value_counts().idxmax())
df["al"]= df["al"].fillna(df["al"].value_counts().idxmax())
df["su"]= df["su"].fillna(df["su"].value_counts().idxmax())
df["rbc"]= df["rbc"].fillna(df["rbc"].value_counts().idxmax())
df["pc"]= df["pc"].fillna(df["pc"].value_counts().idxmax())
df["pcc"]= df["pcc"].fillna(df["pcc"].value_counts().idxmax())
df["ba"]= df["ba"].fillna(df["ba"].value_counts().idxmax())
df["htn"]= df["htn"].fillna(df["htn"].value_counts().idxmax())
df["dm"]= df["dm"].fillna(df["dm"].value_counts().idxmax())
df["cad"]= df["cad"].fillna(df["cad"].value_counts().idxmax())
df["appet"]= df["appet"].fillna(df["appet"].value_counts().idxmax())
df["pe"]= df["pe"].fillna(df["pe"].value_counts().idxmax())
df["ane"]= df["ane"].fillna(df["ane"].value_counts().idxmax())

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   rbc             400 non-null    object
 6   pc              400 non-null    object
 7   pcc             400 non-null    object
 8   ba              400 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             329 non-null    float64
 16  wc              294 non-null    float64
 17  rc              269 non-null    float64
 18  htn             400 non-null    object
 19  dm              400 non-null    object
 20  cad             400 non-null    object
 21  appet           400 non-null    object
 22  pe              400 non-null    object
 23  ane             400 non-null    object
 24  classification  400 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.2+ KB

In [11]:
dictionary = {
    'rbc' :{
    'abnormal':1,
    'normal':0,
    },
    'pc' :{
    'abnormal':1,
    'normal':0,
    },
    'pcc' :{
    'notpresent':0,
    'present':1,
    },
    'ba' :{
    'notpresent':0,
    'present':1,
    },
    'htn' :{
    'yes':1,
    'no':0,
    },
    'dm' :{
    'yes':1,
    'no':0,
    },
    'cad' :{
    'yes':1,
    'no':0,
    },
    'appet' :{
    'good':1,
    'poor':0,
    },
    'pe' :{
    'yes':1,
    'no':0,
    },
    'ane' :{
    'yes':1,
    'no':0,
    },
    'classification':{
        'ckd':1,
        'notckd':0,
    }
}
df=df.replace(dictionary)

In [12]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,NaN,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,NaN,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,1,0,0,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   rbc             400 non-null    int64
 6   pc              400 non-null    int64
 7   pcc             400 non-null    int64
 8   ba              400 non-null    int64
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             329 non-null    float64
 16  wc              294 non-null    float64
 17  rc              269 non-null    float64
 18  htn             400 non-null    int64
 19  dm              400 non-null    int64
 20  cad             400 non-null    int64
 21  appet           400 non-null    int64
 22  pe              400 non-null    int64
 23  ane             400 non-null    int64
 24  classification  400 non-null    int64
dtypes: float64(14), int64(11)
memory usage: 78.2 KB

In [14]:
imputer = KNNImputer(n_neighbors=5)
df_filled = imputer.fit_transform(df)

In [15]:
df2 = pd.DataFrame(data = df_filled)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       400 non-null    float64
 1   1       400 non-null    float64
 2   2       400 non-null    float64
 3   3       400 non-null    float64
 4   4       400 non-null    float64
 5   5       400 non-null    float64
 6   6       400 non-null    float64
 7   7       400 non-null    float64
 8   8       400 non-null    float64
 9   9       400 non-null    float64
 10  10      400 non-null    float64
 11  11      400 non-null    float64
 12  12      400 non-null    float64
 13  13      400 non-null    float64
 14  14      400 non-null    float64
 15  15      400 non-null    float64
 16  16      400 non-null    float64
 17  17      400 non-null    float64
 18  18      400 non-null    float64
 19  19      400 non-null    float64
 20  20      400 non-null    float64
 21  21      400 non-null    float64
 22  22      400 non-null    float64
 23  23      400 non-null    float64
 24  24      400 non-null    float64
dtypes: float64(25)
memory usage: 78.2 KB

In [17]:
df2.columns

RangeIndex(start=0, stop=25, step=1)

In [18]:
kolom = ['age','bp','sg','al','su','rbc','pc','pcc','ba',
          'bgr','bu','sc','sod','pot','hemo','pcv','wc','rc',
          'htn','dm','cad','appet','pe','ane','class']
df2.columns=kolom
df2.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [19]:
df2.head(40)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,0.0,0.0,0.0,0.0,121.0,...,44.0,7800.0,5.20,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7.0,50.0,1.020,4.0,0.0,0.0,0.0,0.0,0.0,113.0,...,38.0,6000.0,4.96,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,423.0,...,31.0,7500.0,3.80,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32.0,6700.0,3.90,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,106.0,...,35.0,7300.0,4.60,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5,60.0,90.0,1.015,3.0,0.0,0.0,0.0,0.0,0.0,74.0,...,39.0,7800.0,4.40,1.0,1.0,0.0,1.0,1.0,0.0,1.0
6,68.0,70.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,36.0,10280.0,4.64,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7,24.0,66.0,1.015,2.0,4.0,0.0,1.0,0.0,0.0,410.0,...,44.0,6900.0,5.00,0.0,1.0,0.0,1.0,1.0,0.0,1.0
8,52.0,100.0,1.015,3.0,0.0,0.0,1.0,1.0,0.0,138.0,...,33.0,9600.0,4.00,1.0,1.0,0.0,1.0,0.0,1.0,1.0
9,53.0,90.0,1.020,2.0,0.0,1.0,1.0,1.0,0.0,70.0,...,29.0,12100.0,3.70,1.0,1.0,0.0,0.0,0.0,1.0,1.0
10,50.0,60.0,1.010,2.0,4.0,0.0,1.0,1.0,0.0,490.0,...,28.0,9260.0,4.92,1.0,1.0,0.0,1.0,0.0,1.0,1.0
11,63.0,70.0,1.010,3.0,0.0,1.0,1.0,1.0,0.0,380.0,...,32.0,4500.0,3.80,1.0,1.0,0.0,0.0,1.0,0.0,1.0
12,68.0,70.0,1.015,3.0,1.0,0.0,0.0,1.0,0.0,208.0,...,28.0,12200.0,3.40,1.0,1.0,1.0,0.0,1.0,0.0,1.0
13,68.0,70.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,98.0,...,43.0,8960.0,5.26,1.0,1.0,1.0,0.0,1.0,0.0,1.0
14,68.0,80.0,1.010,3.0,2.0,0.0,1.0,1.0,1.0,157.0,...,16.0,11000.0,2.60,1.0,1.0,1.0,0.0,1.0,0.0,1.0
15,40.0,80.0,1.015,3.0,0.0,0.0,0.0,0.0,0.0,76.0,...,24.0,3800.0,2.80,1.0,0.0,0.0,1.0,0.0,1.0,1.0
16,47.0,70.0,1.015,2.0,0.0,0.0,0.0,0.0,0.0,99.0,...,49.2,7440.0,5.66,0.0,0.0,0.0,1.0,0.0,0.0,1.0
17,47.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,114.0,...,35.6,8460.0,4.64,1.0,0.0,0.0,0.0,0.0,0.0,1.0
18,60.0,100.0,1.025,0.0,3.0,0.0,0.0,0.0,0.0,263.0,...,37.0,11400.0,4.30,1.0,1.0,1.0,1.0,0.0,0.0,1.0
19,62.0,60.0,1.015,1.0,0.0,0.0,1.0,1.0,0.0,100.0,...,30.0,5300.0,3.70,1.0,0.0,1.0,1.0,0.0,0.0,1.0
20,61.0,80.0,1.015,2.0,0.0,1.0,1.0,0.0,0.0,173.0,...,24.0,9200.0,3.20,1.0,1.0,1.0,0.0,1.0,1.0,1.0
21,60.0,90.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,220.0,...,32.0,6200.0,3.60,1.0,1.0,1.0,1.0,0.0,0.0,1.0
22,48.0,80.0,1.025,4.0,0.0,0.0,1.0,0.0,0.0,95.0,...,32.0,6900.0,3.40,1.0,0.0,0.0,1.0,0.0,1.0,1.0
23,21.0,70.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,159.0,...,36.4,7440.0,4.62,0.0,0.0,0.0,0.0,0.0,1.0,1.0
24,42.0,100.0,1.015,4.0,0.0,0.0,1.0,0.0,1.0,220.0,...,39.0,8300.0,4.60,1.0,0.0,0.0,0.0,0.0,0.0,1.0
25,61.0,60.0,1.025,0.0,0.0,0.0,0.0,0.0,0.0,108.0,...,29.0,8400.0,3.70,1.0,1.0,0.0,1.0,0.0,1.0,1.0
26,75.0,80.0,1.015,0.0,0.0,0.0,0.0,0.0,0.0,156.0,...,35.0,10300.0,4.00,1.0,1.0,0.0,0.0,0.0,0.0,1.0
27,69.0,70.0,1.010,3.0,4.0,0.0,1.0,0.0,0.0,264.0,...,37.0,9600.0,4.10,1.0,1.0,1.0,1.0,1.0,0.0,1.0
28,75.0,70.0,1.020,1.0,3.0,0.0,0.0,0.0,0.0,123.0,...,42.6,7140.0,5.32,0.0,1.0,0.0,1.0,0.0,0.0,1.0
29,68.0,70.0,1.005,1.0,0.0,1.0,1.0,1.0,0.0,210.6,...,38.0,8320.0,5.06,0.0,0.0,1.0,1.0,0.0,0.0,1.0
30,41.2,70.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,93.0,...,42.2,8400.0,4.88,1.0,1.0,0.0,1.0,0.0,0.0,1.0
31,73.0,90.0,1.015,3.0,0.0,0.0,1.0,1.0,0.0,107.0,...,30.0,7800.0,4.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0
32,61.0,90.0,1.010,1.0,1.0,0.0,0.0,0.0,0.0,159.0,...,34.0,9600.0,4.00,1.0,1.0,0.0,0.0,0.0,0.0,1.0
33,60.0,100.0,1.020,2.0,0.0,1.0,1.0,0.0,0.0,140.0,...,29.0,8440.0,4.10,1.0,0.0,0.0,0.0,0.0,0.0,1.0
34,70.0,70.0,1.010,1.0,0.0,0.0,0.0,1.0,1.0,171.0,...,43.0,8960.0,5.26,0.0,1.0,0.0,0.0,0.0,0.0,1.0
35,65.0,90.0,1.020,2.0,1.0,1.0,0.0,0.0,0.0,270.0,...,36.0,9800.0,4.90,1.0,1.0,0.0,0.0,0.0,1.0,1.0
36,76.0,70.0,1.015,1.0,0.0,0.0,0.0,0.0,0.0,92.0,...,32.0,7960.0,4.98,1.0,0.0,0.0,1.0,0.0,0.0,1.0
37,72.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,137.0,...,28.0,6900.0,2.50,1.0,1.0,0.0,0.0,0.0,1.0,1.0
38,69.0,80.0,1.020,3.0,0.0,1.0,0.0,0.0,0.0,178.2,...,33.2,9740.0,4.06,1.0,0.0,0.0,1.0,0.0,0.0,1.0
39,82.0,80.0,1.010,2.0,2.0,0.0,0.0,0.0,0.0,140.0,...,40.0,9800.0,4.20,1.0,1.0,0.0,1.0,0.0,0.0,1.0

#save data
df2.to_csv(r'C:\Users\ACER\Music\jupiter\skripsi\DataC.csv',index=False)
df2.to_excel(r'C:\Users\ACER\Music\jupiter\skripsi\DataCX.xlsx',index=False)